fuzzywuzzy
chatterbot
chatterbot_corpus
requests
python-telegram-bot
nest_asyncio
kagglehub
pandas
python-dotenv
gdown
psycopg2-binary
numpy==1.23.5
spacy==3.5.3
thinc==8.1.10
python-telegram-bot[webhooks]